.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipes h1 {
  font-size: 30px;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

* {
  box-sizing: border-box;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #01e00c;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: -0.4px;
}

form.search button:hover {
  background: #01e00c;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.add_new {
  font-size: 20px;
  text-align: end;
}

.add_new i {
  color: #01e00c;
  font-size: 30px;
}

.add_new i:hover {
  background-color: #01e00c;
  color: #fff;
}
