.my-recipes .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

.my-recipes h1 {
  font-size: 28px;
  margin: 20px;
}

.my-recipes .search {
  margin: 0 0 10px 0;
}

.my-recipes .search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 230px;
  background: #f1f1f1;
}

.my-recipes .search button {
  float: left;
  width: 50px;
  height: 43.09px;
  padding: 10px;
  background: #01e00c;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #01e00c;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.add_new {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  margin: 10px;
}

.add_new h3 {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.add_new i {
  color: #01e00c;
  font-size: 30px;
}

.add_new i:hover {
  color: #2e2e2e;
}

.recipe-buttons_p {
  margin-top: -45px;
  float: right;
  margin-bottom: 5px;
}

.recipe-buttons {
  margin-top: 10px;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

.recipe-buttons .edit-recipe {
  color: #01e00c;
  font-size: 24px;
  margin-right: 10px;
}

.recipe-buttons .edit-recipe:hover {
  color: #2e2e2e;
}

.recipe-buttons .remove-recipe {
  color: #01e00c;
  background-color: white;
  font-size: 24px;
  padding: 0;
  width: auto;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 10px;
}

.recipe-buttons .remove-recipe:hover {
  color: #2e2e2e;
}

.cards {
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.recipe-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 5px;
  transition: 0.3s ease-in-out;
}

.recipe-card {
  border: 1px solid black;
  width: 100%;
  max-width: 280px;
  height: auto;
  text-align: start;
  border-radius: 5px;
  box-shadow: 0px 0px 5px;
  margin: 0 20px 50px 20px;
}

.recipe-card img {
  object-fit: cover;
  object-position: 100% 1;
  max-width: 500px;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px 1px #2e2e2e;
  border-bottom: 5px solid #01e00c;
}

.recipe-card .name {
  display: block;
  max-width: 297px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding-left: 15px;
  color: #2e2e2e;
}

.recipe-card p.description {
  display: block;
  width: 297px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding-right: 15px;
  color: #2e2e2e;
  margin-bottom: -16px;
  padding-left: 15px;
}

.recipe-card p.match {
  font-size: 16px;
  margin-top: 30px;
  margin-left: 15px;
}

.recipe-card .name:hover {
  color: #01e00c;
}

@media screen and (min-width: 600px) {
  .cards {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 900px) {
  .cards {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
}
