.find-recipes {
  background-color: black;
  color: #01e00c;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.find-recipes:hover {
  background-color: #fff;
}
