.shop-list-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-list {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  width: 95%;
  max-width: 500px;
}

.shop-list-page img {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.shop-list-page .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid #b6282b;
  padding: 0 5px 0 20px;
}

.shop-list-page h1 {
  font-size: 25px;
}

.shopping-list-items {
  padding: 0 0 7px 0;
}

.shopping-item {
  padding: 7px 0;
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
}

.shop-list-page hr {
  width: 95%;
  color: #b6282b;
  margin: 0;
}

.check-buttons i {
  font-size: 25px;
  color: #01e00c;
  cursor: pointer;
  text-decoration: none;
}

.check-buttons {
  background-color: #fff;
  border: none;
  text-decoration: none;
}

.check-buttons:active {
  background-color: #fff;
  border: none;
}

hr {
  width: 95%;
  color: #b6282b;
}

.list-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modify-buttons {
  border: 0.5px solid black;
  box-shadow: 5px 5px 5px;
  background: #5a5d5a;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.modify-buttons i span {
  font-size: 20px;
}

.list-buttons i {
  font-size: 20px;
  background-color: #5a5d5a;
  color: #fff;
  cursor: pointer;
}

.list-buttons i:hover {
  color: #01e00c;
}

@media (min-width: 600px) {
  .shop-list h1 {
    font-size: 35px;
  }

  .shop-list-page {
    margin-top: 50px;
  }
}
