.facebook-button {
  font-size: 24px;
  background: #3a589a;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid #3a589a;
  cursor: pointer;
  width: 128px;
}

.facebook-button:hover {
  background: #fff;
  color: #3a589a;
}
