.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.head span {
  color: #01e00c;
}

.notFound h2 {
  font-size: 120px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -40px;
}

.notFound .head p {
  font-size: 18px;
  text-align: center;
  margin-bottom: -20px;
}

.notFound p {
  font-size: 18px;
  margin: 20px;
}

.notFound .links {
  display: flex;
  flex-direction: column;
  margin: 50px;
  background-color: #01e00c;
  border-radius: 40px;
}

.notFound .links:hover {
  transform: scale(1.1);
}

.notFound .links .menu {
  margin: 10px;
}
