.pantry-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}

.pantry {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  width: 95%;
  max-width: 500px;
}

.pantry-page img {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.pantry-page .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid #b6282b;
  padding: 0 5px 0 20px;
}

.pantry-page h1 {
  font-size: 25px;
}

.pantry-list {
  padding: 0 0 7px 0;
}

.pantry-item {
  /* margin: -2px; */
  padding: 7px 0;
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
}

.del-item {
  background-color: #fff;
  border: none;
  color: #01e00c;
  cursor: pointer;
}

.del-item,
.single-item {
  font-size: 20px;
}

.pantry-page hr {
  width: 95%;
  color: #b6282b;
  margin: 0;
}

.del-item:hover {
  color: red;
}
.delete-pantry:hover {
  color: #01e00c;
}

.new-pantry {
  width: 149.92px;
}

.new-pantry:hover {
  color: #01e00c;
}

.new-pantry,
.delete-pantry {
  border: 0.5px solid black;
  box-shadow: black 5px 5px 5px;
  background: #5a5d5a;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;

  font-size: 20px;
  background-color: #5a5d5a;
  color: #fff;
  cursor: pointer;
}

.pantry-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 500px) {
  .pantry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 600px) {
    .pantry-page h1 {
      font-size: 35px;
    }

    .pantry-page {
      margin-top: 50px;
    }
  }
}
