.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panels {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/

.single-recipe {
  width: 100%;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-tabs {
  width: 100%;
  max-width: 500px;
  height: auto;
  color: #111;
  font-weight: 300;
  font-size: 14px;
  display: block;
  margin: 2px 7px 0 3px;
}

.recipe-tabs .image {
  max-width: 500px;
  object-fit: cover;
  object-position: 100% 1;
  height: auto;
}

.public-cards {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.recipe-tabs li {
  list-style-type: none;
  width: 100%;
  padding: 3px;
}
.recipe-tabs h1 {
  font-size: 20px;
}

ul.ing-list,
li.ing-list {
  list-style-type: none;
  margin-left: -25px;
}

ul.inst-list,
li.inst-list {
  list-style-type: decimal;
  margin-left: -15px;
}

ul.displayed-list,
li.numbered {
  list-style-type: decimal;
}

ul.displayed-list,
li.bulleted {
  list-style-type: disc;
  list-style-position: inside;
}

.tabset {
  max-width: 300px;
  font-size: 10px;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px 10px 20px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #01e00c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #01e00c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -5px;
}

.tab-panel {
  width: 100%;
  max-width: 600px;
  padding: 5px 5px;
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.tabset {
  max-width: 600px;
}

.back {
  float: right;
  padding: 15px;
  color: red;
}

.back:hover {
  color: black;
}

@media (min-width: 500px) {
  .recipe-tabs {
    font-size: 18px;
  }

  .recipe-tabs h1 {
    font-size: 33px;
  }

  .tabset {
    font-size: 16px;
  }

  .single-recipe {
    margin-top: 50px;
  }
}
