.addIngredient-form {
  border: 1px solid;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.addIngredient-form legend {
  font-size: 18px;
  font-weight: 600;
}

.ingredients-buttons {
  cursor: pointer;
  float: right;
  padding-top: 10px;
}

.ingr-button i {
  cursor: pointer;
  background-color: #fff;
  color: #01e00c;
  font-size: 24px;
}

.ingr-button i:hover {
  color: black;
}

button.ingr-button {
  border: none;
  background-color: #fff;
}

.addIng-input {
  width: 100%;
}
