* {
  font-family: "Montserrat", sans-serif;
}

.background {
  margin-top: -350px;
}

section.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing h2 {
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 40px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .background {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.05em;
  margin-bottom: 1em;
}

.landing .buttons .log-button,
.reg-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  color: #f21323;
  text-transform: uppercase;
  background: #ffffff;
  padding: 0.35em 0.75em;
  border: 2px solid #f21323;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  width: 150px;
}

.landing .button .log-button:hover,
.reg-button:hover {
  color: #000000;
  border-radius: 50px;
  border-color: #000000;
  transition: all 0.3s ease 0s;
}

@media (min-width: 600px) {
  .background {
    margin-top: -250px;
  }

  .landing h2 {
    font-size: 30px;
    margin-top: -20px;
  }

  .subtitle {
    line-height: 0.5em;
    margin-bottom: 1.5em;
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .background {
    margin-top: -150px;
  }
}
