* {
  font-family: "Montserrat", sans-serif;
}

img.back-image,
.wrapper,
.home,
.landing {
  width: 100%;
}

.landing {
  margin: 0;
}

img.back-image {
  height: auto;
}

section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing h1 {
  font-size: 18px;
  margin-bottom: 1.5em;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.05em;
  margin-bottom: 0.1em;
}

.log-button,
.reg-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  color: #fff;
  text-transform: uppercase;
  background: #b72327;
  padding: 0.35em 0.75em;
  border: 2px solid #b72327;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  width: 200px;
}

.log-button:hover,
.reg-button:hover {
  color: #b72327;
  background-color: #fff;
  border-color: #b72327;
  transition: all 0.3s ease 0s;
}

@media (min-width: 600px) {
  .landing .home {
    margin-top: -40px;
  }

  .landing h1 {
    font-size: 30px;
    margin: 20px 0 30px 0;
  }

  .landing .buttons {
    margin: 20px 0 20px 0;
  }
}

@media (min-width: 1150px) {
  .landing .home {
    margin-top: -40px;
  }

  .landing h1 {
    font-size: 48px;
    margin: 0 0 40px 0;
  }
}
