* {
  font-family: "Montserrat", sans-serif;
}

img.back-image {
  width: 100%;
  height: auto;
}

section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
  margin-bottom: 20px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -50px;
  margin-right: -50px;
}

.landing h2 {
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 1.5em;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.05em;
  margin-bottom: 0.1em;
}

.log-button,
.reg-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  color: #f21323;
  text-transform: uppercase;
  background: #ffffff;
  padding: 0.35em 0.75em;
  border: 2px solid #f21323;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  width: 150px;
}

.log-button:hover,
.reg-button:hover {
  color: #000000;
  border-radius: 50px;
  border-color: #000000;
  transition: all 0.3s ease 0s;
}

@media (min-width: 600px) {
  section.home {
    margin-top: -90px;
    margin-bottom: 2em;
  }

  .landing h2 {
    line-height: 0.5em;
    margin-bottom: 1em;
    margin-top: -0.5em;
    font-size: 30px;
  }
}

@media (min-width: 1150px) {
  .landing h2 {
    margin-bottom: 2em;
  }
}
