button.add {
  border: 1px solid;
  font-size: 30px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-top: -50px;
}

.addRecipe {
  max-width: 475px;
  width: 100%;
}

.input {
  width: 300px;
}

.recipe-form .amount {
  display: flex;
  flex-direction: column;
}

.edit-button {
  border: 1px solid red;
  background-color: white;
  color: red;
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  width: 30px;
  border-radius: 5px;
  align-content: center;
}

.section {
  margin-top: 30px;
}

.inner-wrap {
  max-width: 375px;
}
