.add {
  border: 1px solid;
  font-size: 30px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
}

.recipe-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.input {
  width: 200px;
}

.recipe-form .amount {
  display: flex;
  flex-direction: column;
}

.edit-button {
  border: 1px solid red;
  background-color: white;
  color: red;
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
  width: 30px;
  border-radius: 5px;
  align-content: center;
}

.section {
  margin-top: 30px;
}
