.add {
  width: 10px;
  height: 10px;
  border: none;
  font-size: 30px;
  margin: -10px;
  cursor: pointer;
}

.recipe-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.input {
  width: 200px;
}

.recipe-form .amount {
  display: flex;
  flex-direction: column;
}
