button.add {
  border: 1px solid;
  font-size: 30px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-top: -40px;
}

button.add:hover {
  color: #fff;
  background-color: #01e00c;
}

.addRecipe {
  max-width: 430px;
  width: 100%;
}

.input {
  width: 300px;
}

.recipe-form .amount {
  display: flex;
  flex-direction: column;
}

.edit-button {
  border: 1px solid red;
  background-color: white;
  color: red;
  font-size: 30px;
  cursor: pointer;
  margin: 5px;
  padding-bottom: 3px;
  width: 37px;
  border-radius: 5px;
  align-content: center;
}

.edit-button:hover {
  background-color: red;
  color: #fff;
}

.inner-wrap {
  max-width: 375px;
}
