.shop-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-list-page {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px;
  padding-right: 10px;
  width: 100%;
  max-width: 400px;
}

.shop-list img {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.shop-list .title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #b6282b;
  margin-bottom: 15px;
}

.shop-list h1 {
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin-bottom: -12px;
  margin-top: -12px;
}

.check-buttons i {
  font-size: 25px;
  color: #01e00c;
  cursor: pointer;
  text-decoration: none;
}

.check-buttons {
  background-color: #fff;
  border: none;
  text-decoration: none;
}

.check-buttons:active {
  background-color: #fff;
  border: none;
}

hr {
  width: 95%;
  color: #b6282b;
}

.list-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modify-buttons {
  border: 0.5px solid black;
  box-shadow: 5px 5px 5px;
  background: #5a5d5a;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.modify-buttons i span {
  font-size: 20px;
}

.list-buttons i {
  font-size: 20px;
  background-color: #5a5d5a;
  color: #fff;
  cursor: pointer;
}

.list-buttons i:hover {
  color: #01e00c;
}
