* {
  box-sizing: border-box;
}

.search-public-recipes {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-public-recipes input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 250px;
  background: #f1f1f1;
}

form.search-public-recipes button {
  float: left;
  width: 50px;
  height: 43.09px;
  padding: 10px;
  background: #01e00c;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-public-recipes button:hover {
  background: #01e00c;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
