
.dashboard * {
  text-decoration: none;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  margin-bottom: 30px;
}

.dashboard .group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.dashboard .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 8px;
  background-image: url('../../images/RecipeIcon2.png');

  border-radius: 40px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.dashboard .card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 5px;
}

.dashboard .card p {
  color: white;
  font-size: 11px;
  margin: 10px 8px 0 8px;
}

.dashboard .card h3 {
  font-size: 18px;
  color: #01e00c;
  margin: 8px;
}

@media (min-width: 475px) {
  .dashboard .card {
    width: 200px;
    height: 200px;
    margin: 15px;
  }
  
  .dashboard .card p {
    font-size: 14px;
    margin: 15px 12px 0 12px;
  }

  .dashboard .card h3 {
    font-size: 24px;
    margin: 15px;
  }
}


@media (min-width: 600px) {
  .dashboard .card {
    width: 250px;
    height: 250px;
    margin: 25px;
  }

  .dashboard .card p {
    font-size: 18px;
    margin: 18px 12px 0 12px;
  }

  .dashboard .card h3 {
    font-size: 30px;
    margin: 15px;
  }
}

@media (max-width: 375px) {

  .dashboard {
    margin-bottom: 5px;
  }
  .dashboard .card {
    width: 140px;
    height: 140px;
    border-radius: 20px;
  }

  .dashboard .card p {
    margin: 6px 4px 0 4px;
  }

  .dashboard .card h3 {
    margin: 3px;
  }
}