.footer {
  width: 100%;
  background: black;
  height: 56px;
  box-shadow: grey 0 0 5px 0;
  text-align: center;
}

.foot {
  margin: 10px;
  font-size: 12px;
}
.foot:link {
  color: #fff;
}
.foot:visited {
  color: #fff;
}
.foot:hover {
  color: lightgreen;
}

.foot > i {
  padding: 15px;
}

.footer p {
  color: #fff;
}

@media (min-width: 700px) {
  .foot {
    font-size: 20px;
  }
}