.footer {
  margin-top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 56px;
  z-index: 50;
  box-shadow: grey 0 0 5px 0;
  text-align: center;
}

.foot{
  margin: 10px;
  font-size: 20px;
}
.foot:link{
  color: #fff;
}
.foot:visited{
  color: #fff;
}
.foot:hover{
  color: lightgreen;
}

.foot > i{
  padding: 15px;
}

