/* The Modal (background) */
.ListGenerator .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.ListGenerator .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.ListGenerator .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.ListGenerator .close:hover,
.ListGenerator .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ListGenerator {
  float: right;
  margin-top: -30px;
  margin-right: 10px;
}

.ListGenerator .create {
  font-size: 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 3px;
  color: #01e00c;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.ListGenerator .create:hover {
  color: #5a5d5a;
  border: 1px solid #5a5d5a;
}
