.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page p {
  margin-top: 10px;
}

form.LoginForm h2 {
  font-size: 2em;
}

.sub {
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 2em;
  color: #fff;
  text-transform: uppercase;
  background: red;
  padding: 10px 10px;
  border: 2px solid #f21323;
  border-radius: 4px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  width: 150px;
  font-weight: bold;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
}

.sub:hover {
  background: #fff;
  color: red;
  border-color: red;
  transition: all 0.3s ease 0s;
}

.divider {
  background: #ddd;
  height: 2px;
  display: block;
  position: relative;
  width: 70%;
  margin: 30px auto;
}
.divider span {
  width: 30px;
  height: 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -12px;
  text-align: center;
  color: #999;
}
