.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-left:-50px;
  margin-right:-50px;
}



.login-page p {
  margin-top: 10px;
}

form.LoginForm h2 {
  font-size: 2em;
}

.sub {
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 2em;
  color: #f21323;
  text-transform: uppercase;
  background: #ffffff;
  padding: 0.35em 0.75em;
  border: 2px solid #f21323;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  width: 150px;
}

.sub:hover {
  color: #000000;
  border-radius: 50px;
  border-color: #000000;
  transition: all 0.3s ease 0s;
}
