.image img {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-bottom: 5px solid #01e00c;
}

.recipe-tabs {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 2px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-tabs h1,
.tab-panels {
  margin-left: 10px;
}
