.image img {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-bottom: 5px solid #01e00c;
  border-top: 1px solid;
}

.recipe-tabs {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 2px;

  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-tabs h1,
.tab-panels {
  margin-left: 10px;
}

.recipe-buttons_p .remove-recipe {
  color: #01e00c;
  background-color: white;
  font-size: 24px;
  padding: 0;
  width: auto;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.recipe-buttons_p .remove-recipe:hover {
  color: #2e2e2e;
}

.recipe-tabs .numbered {
  list-style-type: decimal;
}

.recipe-tabs .bulleted {
  list-style-type: disc;
}
